certifi==2019.3.9
chardet==3.0.4
future==0.17.1
idna==2.8
oauthlib==3.0.1
pymongo==3.7.2
PyYAML==5.1
requests==2.21.0
requests-oauthlib==1.2.0
searchtweets==1.7.4
tweet-parser==1.13.2
twitter==1.18.0
urllib3==1.24.1
